:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background: linear-gradient(to bottom, #525F34, #0D1808, #556440);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#login-page {
  border: 3px solid white;
  border-radius: 5%;
  width: 20rem;
  height: 18rem;
  background: linear-gradient(to bottom, #969F8A, #6E7B63);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1, h4 {
  color: #ffffff;
}

#img-user {
  margin-right: 10px;
  margin-top: -53px;
}

#img-one-user, #img-locker {
  width: 33px;
  height: 35px;
  margin-right: 10px;
  background-color: #E7E6E5;
}

#img-locker, #img-one-user {
  position: absolute;
  top: 41%;
  left: 8px;
  transform: translateY(-50%);
}

img {
  width: 6rem;
  height: 6rem;
}

#input-email, #input-password {
  position: relative;
}

#email, #password {
  padding-left: 30px;
  width: 80%;
  height: 33px;
  margin-bottom: 10px;
  background-color: #CCCCCC;
  border: none;
}

#email::placeholder,
#password::placeholder {
  font-size: 18px;
}

#input-checkbox {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#checkbox {
  margin-right: 0;
}

label {
  margin-right: 5px;
  color: white;
}

NavLink {
  margin-left: auto;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ffffff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#login-page button {
  background-color: #202D12;
  color: white;
  margin-top: 1.5em;
  width: 90%;
  display: flex;
  position: relative;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -3%);
  justify-content: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
